@import "constants/constants.scss";

.location_wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    padding: 24px;
    background: $white;
    box-shadow: 0px 4px 36px -4px rgba(0, 0, 0, 0.04);
    max-height: 250px;
    overflow-y: auto;
    .location_image {
        padding: 8px;
        background-color: $green-quaternary;
    }
    .location_box {  
        display: flex;
        align-items: center;
        gap: 12px;
        .text_box {
            .location_title {
                font-size: 14px;
                color: $black-secondary;
                font-weight: 400;
                line-height: 18px;
            }
            .location_value {
                font-size: 16px;
                color: $black-primary;
                font-weight: 500;
                line-height: 20px;
            }
        }
    }
    @media screen and (max-width: $tablet_bp) {
        min-width: 400px;
        padding: 16px;
    }
    @media screen and (max-width: $mobile_bp) {
        padding: 12px;
        min-width: 260px;
    }
}