@import "constants/constants.scss";

.radioBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .radio {
        position: relative;
        input[type="radio"] {
            appearance: none;
            width: 264px;
            height: 48px;
            margin: 0 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $white;
            border-radius: 20px;
            cursor: pointer;
        }
        .label {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 16px;
            color: $black-secondary;
            font-weight: 600;
            cursor: pointer;
        }
        .label_active {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 16px;
            color: $green-primary;
            font-weight: 600;
            cursor: pointer;
        }
        .active {
            box-shadow: 0px 12px 28px -4px rgba(0, 0, 0, 0.08);
        }
    }
}
