@import "constants/constants.scss";

.container {
    display: flex;
    justify-content: center;
    gap: 28px;
    max-width: 1390px;
    width: 100%;
    padding: 0 35px;
    margin: 28px auto;
    .map {
        position: relative;
        width: 100%;
        min-height: 688px;
        background-color: $white;
        border-radius: 20px;
        z-index: 1;
        .return_button {
            position: absolute;
            top: 24px;
            left: 24px;
            display: flex;
            align-items: center;
            padding: 8px 24px 8px 8px;
            align-items: center;
            gap: 12px;
            border-radius: 20px;
            background: $white;
            box-shadow: 0px 4px 48px -4px rgba(0, 0, 0, 0.08);
            cursor: pointer;
            img {
                display: flex;
                width: 48px;
                height: 48px;
                padding: 0px 8px;
                justify-content: center;
                align-items: center;
                gap: 12px;
            }
            p {
                font-size: 16px;
                color: $black-primary;
                font-weight: 600;
                line-height: 20px;
            }
        }
        .marker_box {
            display: flex;
            align-items: center;
            position: relative;
            .marker_badge {
                position: absolute;
                top: -21px;
                left: -10px;
            }
            .marker_pin {
                z-index: 2;
            }
            p {
                z-index: 2;
                font-size: 16px;
                color: $black-primary;
                font-weight: 600;
                line-height: 20px;
            }
        }
    }
    .mobile_card_wrapper {
        display: none;
    }
    @media screen and (max-width: $tablet_bp) {
        .desktop_card_wrapper {
            display: none;
        }
        .mobile_card_wrapper {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            padding: 35px;
            justify-content: space-between;
            align-items: center;
            background-color: $white;
            z-index: 2;
            p {
                font-size: 28px;
                color: $black-primary;
                font-weight: 500;
                line-height: 34px;
            }
            button {
                display: flex;
                width: 48px;
                height: 48px;
                padding: 0px 24px;
                justify-content: center;
                align-items: center;
                gap: 12px;
                border-radius: 20px;
                background: $green-primary;
                box-shadow: 0px 8px 24px -4px rgba(0, 0, 0, 0.08);
            }
        }
    }
    @media screen and (max-width: $mobile_bp) {
        padding: 0 16px;
        .mobile_card_wrapper {
            padding: 16px;
            p {
                font-size: 24px;
                line-height: 28px;
            }
        }
    }
}
