@import "constants/constants.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .date_time_box {
        // width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }
    .button {
        height: 48px;
        border-radius: 20px;
        background: $green-primary;
        box-shadow: 0px 8px 24px -4px rgba(0, 0, 0, 0.08);
        font-size: 16px;
        color: $black-primary;
        font-weight: 600;
        line-height: 20px;
        transition: all 0.3s ease-out;
        cursor: pointer;
        &:hover {
            background-color: $green-secondary;
            transition: all 0.3s ease-out;
        }
    }
    @media screen and (max-width: $mobile_bp) {
        .date_time_box {
            flex-direction: column;
            gap: 16px;
        }
    }
}
