@import "constants/constants.scss";

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    // background-color: $black-quaternary;
    // background: rgba(255, 255, 255, 0.80);
    max-width: 1440px;
    padding: 0 60px;
    margin-bottom: 160px;
    .text_box {
        max-width: 536px;
        width: 100%;
        // height: 440px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
        h3 {
            margin: 0;
        }
        .line {
            width: 100%;
            border: 1px solid $black-tertiary;
            // margin: 12px 0;
        }
        .link_wrapper {
            display: flex;
            justify-content: space-between;
            .link_box {
                display: flex;
                flex-direction: column;
                gap: 16px;
                .link {
                    display: flex;
                    align-items: center;
                    img {
                        margin-right: 16px;
                    }
                    span {
                        font-size: 20px;
                        color: $black-primary;
                        font-weight: 500;
                        line-height: 24px;
                        max-width: 216px;
                        width: 100%;
                    }
                }
            }
        }
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            color: $green-primary;
            width: 200px;
            height: 56px;
            border: 1px solid $green-primary;
            border-radius: 20px;
            background-color: $white;
            margin-top: 24px;
            cursor: pointer;
            transition: all 0.3s ease-out;
            &:hover {
                background-color: $green-quaternary;
                transition: all 0.3s ease-out;
            }
            img {
                margin-left: 12px;
            }
        }
    }
    .card_box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 536px;
        width: 100%;
        height: 536px;
        padding: 84px 24px 48px;
        background: url(../../../../../../public/bg-1.svg) center center/cover
            no-repeat;
        .card {
            display: flex;
            max-width: 488px;
            width: 100%;
            padding: 24px;
            background-color: $white;
            border-radius: 24px;
            box-shadow: 0px 4px 36px -4px rgba(0, 0, 0, 0.04);
            .avatar_wrapper {
                display: flex;
                .avatar {
                    z-index: 2;
                    // box-shadow: 0px 4px 36px -4px rgba(0, 0, 0, 0.4);
                    // border-radius: 50%;
                    // border-radius: 36px;
                    // background: url('../../../../../public/ellipse_1.png'),
                    //     lightgray 50% / cover no-repeat;
                    // filter: blur(12px);
                }
                :nth-child(2) {
                    z-index: 1;
                    margin-left: -25px;
                }
            }
            .card_wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .text {
                    max-width: 204px;
                    width: 100%;
                    margin-left: 8px;
                    // flex-grow: 1;
                    :nth-child(1) {
                        font-size: 20px;
                        color: $black-primary;
                        font-weight: 500;
                        line-height: 24px;
                        margin-bottom: 8px;
                    }
                    :nth-child(2) {
                        font-size: 14px;
                        color: $black-tertiary;
                        font-weight: 400;
                        line-height: 18px;
                    }
                }
                .stars_wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;
                    border-radius: 48px;
                    background: $green-quaternary;
                    padding: 8px;
                }
            }
        }
        > :nth-child(1) {
            transform: rotate(-5deg);
        }
        > :nth-child(2) {
            transform: rotate(5deg);
        }
        > :nth-child(3) {
            transform: rotate(-3deg);
        }
    }
    @media screen and (max-width: $tablet_bp) {
    }
    @media screen and (min-width: $mobile_bp) and (max-width: $tablet_bp) {
        padding: 0 35px;
        margin-bottom: 80px;
        .text_box {
            .link_wrapper {
                flex-direction: column;
                gap: 16px;
            }
        }
        .card_box {
            height: 450px;
            > :first-child {
                display: none;
            }
            > :nth-child(2) {
                transform: rotate(3deg);
            }
            .card {
                flex-direction: column;
                padding: 16px;
                .card_wrapper {
                    .text {
                        margin: 8px 0 0;
                        :nth-child(1) {
                            margin-bottom: 4px;
                        }
                    }
                    .stars_wrapper {
                        gap: 0;
                    }
                }
            }
        }
    }
    @media screen and (max-width: $mobile_bp) {
        padding: 0 16px;
        margin-bottom: 48px;
        flex-direction: column-reverse;
        align-items: flex-start;
        .text_box {
            max-width: 100%;
            .link_wrapper {
                flex-direction: column;
                gap: 16px;
            }
        }
        .card_box {
            height: 450px;
            max-width: 450px;
            padding: 72px 16px 36px;
            > :first-child {
                display: none;
            }
            > :nth-child(2) {
                transform: rotate(3deg);
            }
            .card {
                flex-direction: column;
                padding: 16px;
                .card_wrapper {
                    .text {
                        margin: 8px 0 0;
                        :nth-child(1) {
                            margin-bottom: 4px;
                        }
                    }
                    .stars_wrapper {
                        gap: 0;
                    }
                }
            }
        }
    }
}
