@import "constants/constants.scss";

.container {
    display: flex;
    justify-content: space-between;
    // background-color: $black-quaternary;
    // background: rgba(255, 255, 255, 0.80);
    max-width: 1440px;
    padding: 0 60px;
    margin-bottom: 160px;
    .text_box {
        width: 536px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
            font-size: 32px;
            font-weight: 600;
            line-height: 40px;
            margin-bottom: 16px;
            background: var(
                --gradient-dark-blue,
                linear-gradient(45deg, $blue-primary 0%, $blue-secondary 100%)
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p {
            font-size: 18px;
            color: $black-secondary;
            font-weight: 400;
            line-height: 22px;
        }
        .line {
            width: 100%;
            border: 1px solid $grey;
            margin: 24px 0;
        }
        .link_box {
            display: flex;
            .link {
                display: flex;
                align-items: center;
                width: 256px;
                height: 48px;
                img {
                    padding: 12px;
                    margin-right: 16px;
                }
                span {
                    font-size: 20px;
                    color: $black-primary;
                    font-weight: 500;
                    line-height: 24px;
                    cursor: pointer;
                }
            }
        }
    }
    .miniCard_box {
        display: flex;
        justify-content: center;
        width: 536px;
        height: 536px;
        padding-top: 72px;
        background: url(../../../../../public/bg-1.svg) center center/cover
            no-repeat;
        .second_box {
            margin-top: 24px;
        }
    }
}
