@import "constants/constants.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1056px;
    width: 100vw;
    background-color: $white;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    .title_box {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 24px;
        border-bottom: 1px solid $black-tertiary;
        background: $black-quaternary;
        border-top-right-radius: 24px;
        cursor: pointer;
        .profile_title {
            color: $black-primary;
            font-size: 32px;
            font-weight: 600;
            line-height: 40px;
            text-align: center;
        }
    }
    .map {
        position: relative;
        width: 100%;
        min-height: 515px;
        height: 100%;
        background-color: $white;
        border-radius: 20px;
        padding: 24px;
        z-index: 1;
        .marker_box {
            display: flex;
            align-items: center;
            gap: 2px;
            position: relative;
            .marker_badge {
                position: absolute;
                top: -21px;
                left: -5px;
            }
            .marker_pin {
                z-index: 2;
            }
            p {
                z-index: 2;
                font-size: 16px;
                color: $black-secondary;
                font-weight: 600;
                line-height: 20px;
            }
        }
    }
    @media screen and (max-width: $tablet_bp) {
        border-radius: 24px;
        .map {
            padding: 16px;
            .desktop_details_card {
                display: none;
            }
            .mobile_card_wrapper {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                display: flex;
                padding: 35px;
                justify-content: space-between;
                align-items: center;
                background-color: $white;
                z-index: 2;
                p {
                    font-size: 28px;
                    color: $black-primary;
                    font-weight: 500;
                    line-height: 34px;
                }
                button {
                    display: flex;
                    width: 48px;
                    height: 48px;
                    padding: 0px 24px;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;
                    border-radius: 20px;
                    background: $green-primary;
                    box-shadow: 0px 8px 24px -4px rgba(0, 0, 0, 0.08);
                }
            }
        }
    }
}