@import "constants/constants.scss";

.map {
    width: 624px;
    // height: 760px;
    background: url("../../../../../public/map.png");
    .contacts {
        margin: 24px;
        width: 576px;
        // height: 276px;
        background-color: $white;
        padding: 24px;
        border-radius: 16px;
        box-shadow: 0px 4px 48px -4px rgba(0, 0, 0, 0.08);
        h2 {
            margin-bottom: 8px;
        }
        h4 {
            margin: 8px 0 48px;
        }
        p {
            display: flex;
            align-items: center;
            color: $black-primary;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            img {
                margin-right: 12px;
            }
        }
        :nth-child(4) {
            margin: 16px 0;
        }
    }
}
