@import "constants/constants.scss";

.add_coordinates {
    .line {
        background-color: $black-tertiary;
        height: 1px;
        margin-bottom: 48px;
    }
    .add_coordinates_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        .add_coordinates_title {
            font-size: 28px;
            color: $black-primary;
            font-weight: 500;
            line-height: 34px;
        }
        button {
            width: fit-content;
        }
    }
    @media screen and (min-width: $mobile_bp) and (max-width: $tablet_bp) {
        .line {
            margin-bottom: 24px;
        }
    }
    @media screen and (max-width: $mobile_bp) {
        .line {
            margin-bottom: 16px;
        }
        .add_coordinates_box {
            flex-wrap: wrap;
            .add_coordinates_title {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
}
