@import "constants/constants.scss";

.ads_panel {
    display: flex;
    flex-direction: column;
    max-width: 1056px;
    width: 100vw;
    background-color: $white;
    border-radius: 0 24px 24px 0;
    padding-bottom: 16px;
    .title_box {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 24px;
        border-bottom: 1px solid $black-tertiary;
        background: $black-quaternary;
        border-top-right-radius: 24px;
        .title {
            color: $black-primary;
            font-size: 32px;
            font-weight: 600;
            line-height: 40px;
            text-align: center;
        }
        .amount_box {
            flex-grow: 1;
            .amount {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                width: 36px;
                height: 36px;
                border-radius: 48px;
                border: 2px solid $white;
                background: $black-tertiary;
                font-size: 16px;
                color: $black-primary;
                font-weight: 600;
                line-height: 20px;
            }
        }
        button {
            display: flex;
            height: 48px;
            padding: 0px 24px;
            justify-content: center;
            align-items: center;
            gap: 12px;
            border-radius: 20px;
            border: 1px solid $green-primary;
            cursor: pointer;
            background-color: $white;
            span {
                font-size: 16px;
                color: $green-primary;
                font-weight: 600;
                line-height: 20px;
            }
        }
    }
    .table_box {
        padding: 24px;
        height: 100%;
    }
}
