@import "constants/constants.scss";

.container {
    width: 100%;
    text-align: center;
    thead tr {
        background-color: $black-quaternary;
        th {
            padding: 16px 4px;
            text-align-last: left;
            div {
                font-size: 16px;
                color: $black-primary;
                font-weight: 600;
                line-height: 20px;
                padding: 10px;
            }
        }
    }
    tbody tr {
        height: 80px;
        td {
            padding: 16px 4px;
            max-width: 160px;
            text-align-last: left;
            div {
                font-size: 16px;
                color: $black-primary;
                font-weight: 400;
                line-height: 20px;
                padding: 0 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }        
    }
    .image_box {
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        gap: 24px;
        flex-shrink: 0;
        border-radius: 16px;
        border: 1px solid $black-tertiary;
        margin: 24px 0;
        cursor: pointer;
    }
}
.load_button_wrapper {
    width: 100%;   
    display: flex;
    justify-content: center;
}