@import "constants/constants.scss";

.ads_detail_container {
    display: flex;
    flex-direction: column;
    max-width: 1056px;
    width: 100vw;
    .ads_detail {
        padding: 24px;
        background-color: $white;
    }
}
