@import "constants/constants.scss";

.container {
    .card_wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 424px;
        height: 688px;
        padding: 24px;
        border-radius: 24px;
        background-color: $white;
        box-shadow: 0px 4px 48px -4px rgba(0, 0, 0, 0.08);
        z-index: 3;
        .detail_title_box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .detail_title {
                font-size: 24px;
                color: $black-primary;
                font-weight: 500;
                line-height: 28px;
            }
            img {
                display: none;
            }
        }
        .driver_box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .star_box {
                display: flex;
                gap: 4px;
            }
        }
        .details_wrapper {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 24px;
            .location_box {
                display: flex;
                flex-direction: column;
                gap: 24px;
                max-height: 170px;
                overflow-y: auto;
            }
            .button_box {
                display: flex;
                padding: 4px;
                border-radius: 20px;
                background: $black-quaternary;
                .button_status {
                    display: flex;
                    height: 48px;
                    padding: 0px 16px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    flex: 1 0 0;
                    border-radius: 20px;
                    box-shadow: 0px 12px 28px -4px rgba(0, 0, 0, 0.08);
                    p {
                        font-size: 16px;
                        color: $green-primary;
                        font-weight: 600;
                        line-height: 20px;
                    }
                }
                .button_details {
                    display: flex;
                    height: 48px;
                    padding: 0px 16px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    flex: 1 0 0;
                    border-radius: 20px;
                    cursor: pointer;
                    p {
                        font-size: 16px;
                        color: $black-secondary;
                        font-weight: 600;
                        line-height: 20px;
                    }
                }
            }
            .tip_box {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .tip_title_box {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    font-size: 14px;
                    color: $black-secondary;
                    font-weight: 400;
                    line-height: 18px;
                }
                .tip_value {
                    font-size: 16px;
                    color: $black-secondary;
                    font-weight: 600;
                    line-height: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 190px;
                }
                > :nth-child(2) {
                    border-radius: 16px;
                    p {
                        display: flex;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 18px;
                        height: 40px;
                        padding: 0px 12px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                    }
                }
                .status_finished {
                    background-color: $black-quaternary;
                    color: $black-primary;
                }
                .status_pending {
                    background-color: $orange-secondary;
                    color: $orange-primary;
                }
                .status_active {
                    background-color: $blue-quaternary;
                    color: $blue-primary;
                }
                .status_approved {
                    background-color: $green-quaternary;
                    color: $green-primary;
                }
                .status_rejected {
                    background-color: $red-quaternary;
                    color: $red-primary;
                }
            }
        }
        .button_wrapper {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }
    @media screen and (max-width: $tablet_bp) {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.64);
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        z-index: 2;
        .card_wrapper {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: auto;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            .detail_title_box {
                img {
                    display: inline;
                }
            }
        }
    }
    @media screen and (min-width: $mobile_bp) and (max-width: $tablet_bp) {
        .card_wrapper {
            gap: 20px;
            .button_wrapper {
                flex-direction: row;
                gap: 20px;
            }
        }
    }
    @media screen and (max-width: $mobile_bp) {
        .card_wrapper {
            padding: 16px;
            gap: 16px;
            .driver_box {
                flex-wrap: wrap;
                .star_box {
                    margin-left: 56px;
                }
            }
            .details_wrapper {
                .button_box {
                    .button_active {
                        padding: 0px 8px;
                    }
                    .button_passive {
                        padding: 0px 8px;
                    }
                }
            }
            .button_wrapper {
                flex-direction: column;
                gap: 16px;
            }
        }
    }
}
