$white: #ffffff;
$white-grey: #d9d9d9;

$blue-primary: #4e7cf6;
$blue-secondary: #0a3cc1;

$green-primary: #42da6e;

$black-primary: #15161a;
$black-secondary: #3c3f4a;

$red-primary: #f6584e;

$grey: #afb2be;

$full_bp: 1201px;
$tablet_bp: 1200px;
$mobile_bp: 767px;
