$white: #ffffff;
$white-grey: #d9d9d9;

$blue-primary: #4E7CF6;
$green-primary: #42DA6E;
$blue-secondary: #0a3cc1;

$grey: #AFB2BE;

$full_bp: 1201px;
$tablet_bp: 1200px;
$mobile_bp: 767px
