$white: #ffffff;
$white-dark: #eff0f2;

$blue-primary: #4e7cf6;
$blue-secondary: #0a3cc1;
$blue-quaternary: #f4f7fe;

$green-primary: #42da6e;
$green-quaternary: #f3fdf6;
$green-tertiary: #95eaad;

$black-primary: #15161a;
$black-secondary: #3c3f4a;
$black-quaternary: #f7f8fa;
$black-tertiary: #afb2be;

$red-primary: #f6584e;
$red-secondary: #fef5f4;

$orange-primary: #ffa74d;
$orange-secondary: #fffaf4;

$full_bp: 1201px;
$tablet_bp: 1200px;
$mobile_bp: 767px;
