@import "constants/constants.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1056px;
    width: 100vw;
    background-color: $white;
    border-radius: 0 24px 24px 0;
    .details_wrapper {
        display: flex;
        gap: 24px;
        padding: 24px;
    }
}