@import "constants/constants.scss";

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 655px;
    width: calc(100vw - 32px);
    background-color: $white;
    margin-top: 48px;
    border-radius: 24px;
    border: 1px solid $black-tertiary;
    margin-bottom: 30px;
    .upperBox {
        width: 100%;
        padding: 24px 24px 0 24px;
        .user_box {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 4px;
            border-radius: 20px;
            background-color: $black-quaternary;
            .user_button {
                display: flex;
                height: 48px;
                padding: 0px 16px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                flex: 1 0 0;
                border-radius: 20px;
                background: $black-quaternary;
                font-size: 16px;
                color: $black-secondary;
                font-weight: 600;
                line-height: 20px;
                cursor: pointer;
            }
            .user_button_active {
                display: flex;
                height: 48px;
                padding: 0px 16px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                flex: 1 0 0;
                border-radius: 20px;
                background: $white;
                font-size: 16px;
                color: $green-primary;
                font-weight: 600;
                line-height: 20px;
                box-shadow: 0px 12px 28px -4px rgba(0, 0, 0, 0.08);
                cursor: pointer;
            }
        }
        .avatar {
            display: flex;
            justify-content: center;
            margin: 48px auto 24px auto;
        }
        .firstInputLine {
            display: flex;
            justify-content: space-between;
            :first-child {
                margin-right: 24px;
            }
            div {
                width: 100%;
            }
        }
        .checkbox {
            display: flex;
            align-items: center;
            width: 100%;
            height: 40px;
            margin-bottom: 48px;
            input[type="checkbox"] {
                width: 24px;
                height: 24px;
                accent-color: $green-primary;
                cursor: pointer;
            }
            label {
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                margin-left: 12px;
                color: $black-secondary;
                a {
                    color: $green-primary;
                }
                span {
                    color: $green-primary;
                }
            }
            p {
                font-size: 14px;
                color: $green-primary;
                font-weight: 500;
                line-height: 18px;
                text-decoration-line: underline;
            }
        }
    }
    .line {
        width: 100%;
        border: 1px solid $black-tertiary;
        margin-top: 30px;
    }
    .lowerBox {
        width: 100%;
        padding: 0 24px;
        .login_button_box {
            display: flex;
            align-items: center;
            gap: 24px;
            margin: 24px 0;
        }
    }
    @media screen and (max-width: $mobile_bp) {
        .upperBox {
            padding: 16px 16px 0 16px;
            .firstInputLine {
                flex-direction: column;
            }
        }
        .lowerBox {
            padding: 0 16px;
            .login_button_box {
                flex-direction: column;
                gap: 16px;
                margin: 16px 0;
            }
        }
    }
}
