@import "constants/constants.scss";

.container {
    max-width: 1390px;
    width: 100%;
    padding: 0 35px;
    margin: 0 auto;
    .wrapper {
        position: relative;
        width: 100%;
        height: 680px;
        margin: 24px 0;
        background-color: $white;
        border-radius: 20px;
    }
    @media screen and (max-width: $mobile_bp) {
        padding: 0 16px;
        .wrapper {
            height: 790px;
        }
    }
}
