@import "constants/constants.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1056px;
    width: 100vw;
    background-color: $white;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    @media screen and (max-width: $tablet_bp) {
        border-radius: 24px;
    }
}
