@import "constants/constants.scss";

.container {
    width: 100%;
    padding: 0 16px;
    text-align: center;
    thead tr {
        // height: 80px;
        background-color: $black-quaternary;
        th {
            padding: 16px 4px;
            text-align-last: left;
            div {
                font-size: 16px;
                color: $black-primary;
                font-weight: 600;
                line-height: 20px;
                padding: 14px;
            }
        }
    }
    tbody tr {
        height: 80px;
        td {
            padding: 16px 4px;
            max-width: 200px;
            text-align-last: left;
            div {
                font-size: 16px;
                color: $black-primary;
                font-weight: 400;
                line-height: 20px;
                padding: 0 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .driver_box {
            display: flex;
            align-items: center;
            img {
                margin-right: 8px;
                border-radius: 50%;
            }
            .driver_name {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100px;
            }
            .empty_avatar {
                display: flex;
                width: 48px;
                height: 48px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 80px;
                background-color: $blue-quaternary;
                box-shadow: 0px 8px 24px -4px rgba(0, 0, 0, 0.08);
                font-size: 16px;
                color: $blue-primary;
                font-weight: 600;
                line-height: 20px;
            }
        }
    }
    .image_box {
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        gap: 24px;
        flex-shrink: 0;
        border-radius: 16px;
        border: 1px solid $black-tertiary;
        margin: 24px 0;
        cursor: pointer;
    }
}