@import "constants/constants.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .date_time_box {
        display: flex;
        justify-content: space-between;
        .picker_box {
            position: relative;
            .date_time_input {
                width: 232px;
                height: 48px;
                border: 1px solid $grey;
                border-radius: 16px;
                cursor: pointer;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                color: $black-primary;
                background-color: transparent;
                padding-left: 52px;
            }
            ::placeholder {
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                color: $grey;
            }
            .start_icon {
                position: absolute;
                left: 16px;
                top: 12px;
                z-index: -1;
            }
            .arrow_icon {
                position: absolute;
                left: 192px;
                top: 12px;
                z-index: -1;
            }
        }
    }
    .button {
        height: 48px;
        border-radius: 20px;
        background: $green-primary;
        box-shadow: 0px 8px 24px -4px rgba(0, 0, 0, 0.08);
        font-size: 16px;
        color: $black-primary;
        font-weight: 600;
        line-height: 20px;
        cursor: pointer;
    }
}
