@import "constants/constants.scss";

.wrapper {
    max-width: 1056px;
    width: 100vw;
    background-color: $white;
    border-radius: 0 24px 24px 0;
    border: 1px solid $black-tertiary;
    margin-bottom: 142px;
    @media screen and (max-width: $tablet_bp) {
        border-radius: 24px;
    }
    @media screen and (max-width: $mobile_bp) {
        margin-bottom: 100px;
    }
}
