@import "constants/constants.scss";

.container {
    max-width: 1390px;
    width: 100vw;
    text-align: left;
    margin-bottom: 50px;
    padding: 0 35px;
    h2 {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        margin: 48px 0 24px;
        background: linear-gradient(76deg, $white 0%, $white-dark 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    @media screen and (max-width: $mobile_bp) {
        padding: 0 16px;
    }
}
