@import "constants/constants.scss";

.container {
    display: block;
    margin: 0 auto 160px;
    max-width: 1320px;
    width: 100%;
    background-color: $blue-quaternary;
    border-radius: 24px;
    .block {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        padding: 60px;
        .text_box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 380px;
        }
        .card_wrapper {
            display: flex;
            gap: 24px;
            .card {
                width: 282px;
                padding: 24px;
                background-color: $white;
                border-radius: 24px;
                .card_title {
                    display: flex;
                    align-items: center;
                    margin-bottom: 16px;
                    img {
                        margin-right: 16px;
                    }
                }
            }
        }
    }
    @media screen and (min-width: $mobile_bp) and (max-width: $tablet_bp) {
        margin: 0 auto 115px;
        .block {
            padding: 35px;
            flex-direction: column;
            gap: 20px;
            .text_box {
                width: 100%;
                max-width: 100%;
            }
            .card_wrapper {
                gap: 20px;
                .card {
                    width: 100%;
                }
            }
        }
    }
    @media screen and (max-width: $mobile_bp) {
        margin: 0 auto 48px;
        .block {
            padding: 16px;
            flex-direction: column;
            gap: 16px;
            .text_box {
                width: 100%;
                max-width: 100%;
            }
            .card_wrapper {
                flex-direction: column;
                gap: 16px;
                .card {
                    width: 100%;
                    padding: 16px;
                }
            }
        }
    }
}
