@import "constants/constants.scss";

.container {
    background: rgba(255, 255, 255, 0.8);
    max-width: 1440px;
    width: 100vw;
    margin-bottom: 160px;
    padding: 0 60px;
    .wrapper {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        .text_box {
            max-width: 536px;
            min-width: 339px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 24px;
            h3 {
                margin-bottom: -8px;
            }
            .link_box {
                display: flex;
                .link {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    max-width: 256px;
                    width: 100%;
                    img {
                        padding: 12px;
                        border-radius: 12px;
                        background: $green-quaternary;
                        width: 48px;
                        height: auto;
                    }
                    span {
                        font-size: 20px;
                        color: $black-primary;
                        font-weight: 500;
                        line-height: 24px;
                        cursor: pointer;
                    }
                }
            }
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    @media screen and (max-width: $tablet_bp) {
    }
    @media screen and (min-width: $mobile_bp) and (max-width: $tablet_bp) {
        padding: 0 35px;
        .wrapper {
            .text_box {
                .link_box {
                    flex-direction: column;
                    gap: 24px;
                }
            }
        }
    }
    @media screen and (max-width: $mobile_bp) {
        margin-bottom: 48px;
        padding: 0 16px;
        .wrapper {
            flex-direction: column;
            align-items: center;
            .text_box {
                min-width: auto;
                width: 100%;
                gap: 16px;
                .link_box {
                    flex-direction: column;
                    gap: 16px;
                    .link {
                        gap: 8px;
                        img {
                            padding: 8px;
                            width: 36px;
                            height: 36px;
                        }
                        span {
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
}
