@import "constants/constants.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 1056px;
    width: 100%;
    background-color: $white;
    border-radius: 0 24px 24px 0;
    margin-bottom: 24px;
    .title_box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding: 24px;
        border-bottom: 1px solid $black-tertiary;
        background: $black-quaternary;
        border-top-right-radius: 24px;
        .profile_title {
            color: $black-primary;
            font-size: 32px;
            font-weight: 600;
            line-height: 40px;
            text-align: center;
        }
        .profile_subtitle {
            margin-top: 8px;
            font-size: 20px;
            color: $black-tertiary;
            font-weight: 400;
            line-height: 28px;
        }
    }
    .line_box {
        padding: 0 24px;
        .line {
            background-color: $black-tertiary;
            height: 1px;
        }
    }
    .document_box {
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding: 0px 24px 24px;
        .document_title {
            font-size: 28px;
            color: $black-primary;
            font-weight: 500;
            line-height: 34px;
        }
    }
    @media screen and (max-width: $tablet_bp) {
        border-radius: 24px;
        gap: 24px;
        margin-bottom: 150px;
        border: 1px solid $black-tertiary;
        .title_box {
            border-top-left-radius: 24px;
            .profile_subtitle {
                margin-top: 0;
            }
        }
    }
    @media screen and (min-width: $mobile_bp) and (max-width: $tablet_bp) {
        gap: 24px;
        .document_box {
            gap: 24px;
        }
    }
    @media screen and (max-width: $mobile_bp) {
        gap: 16px;
        margin-bottom: 100px;
        .document_box {
            gap: 16px;
            padding: 0px 16px 16px;
        }
    }
}
