@import "constants/constants.scss";

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
    background-color: $white;
    margin-top: 50px;
    border-radius: 24px;
    border: 1px solid $black-tertiary;
    margin-bottom: 30px;
    .upperBox {
        width: 100%;
        padding: 22px 22px 0 22px;        
        .avatar {
            display: block;
            margin: 48px auto 24px auto;
        }
        .box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 40px;
            margin-bottom: 48px;
            input[type="checkbox"] {
                width: 24px;
                height: 24px;
                accent-color: $green-primary;
                // background-color: $white;
                // color: $white;
                cursor: pointer;
                // :checked {
                //     color: $white;
                //     background-color: $white;
                // }
                // :active {
                //     color: $white;
                //     background-color: $white;
                // }
            }
            input[type="checkbox"]:hover {
                border-color: $green-primary;
            }
            label {
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                margin-left: 12px;
                color: $green-primary;
            }
            .checkbox {
                display: flex;
                align-items: center;
            }
            p {
                font-size: 14px;
                color: $green-primary;
                font-weight: 500;
                line-height: 18px;
                text-decoration-line: underline;
            }
        }
    }
    .lowerBox {
        width: 100%;
        padding: 0 22px;
        .login_button_box {
            display: flex;
            align-items: center;
            gap: 24px;
            margin: 24px 0;
        }
    }
}
