@import "constants/constants.scss";

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.64);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    z-index: 2;
    .form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        max-width: 648px;
        width: calc(100% - 32px);
        flex-direction: column;
        justify-content: center;
        border-radius: 24px;
        border: 1px solid $black-tertiary;
        background: $white;
        box-shadow: 0px 4px 48px -4px rgba(0, 0, 0, 0.08);
        .upperBox {
            padding: 24px 24px 1px 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            img {
                margin: 0 auto 24px;
            }
            .checkbox_wrapper {
                margin-bottom: 48px;
                .checkbox {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 40px;
                    gap: 12px;
                    flex: 1 0 0;
                    input[type="checkbox"] {
                        width: 24px;
                        height: 24px;
                        accent-color: $green-primary;
                        cursor: pointer;
                    }
                    label {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 20px;
                        margin-left: 12px;
                        color: $black-secondary;
                        a {
                            color: $green-primary;
                        }
                        span {
                            color: $green-primary;
                        }
                    }
                    p {
                        font-size: 14px;
                        color: $green-primary;
                        font-weight: 500;
                        line-height: 18px;
                        text-decoration-line: underline;
                    }
                }
                .checkbox_error {
                    color: $red-primary;
                }
            }
        }
        .lowerBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            width: 100%;
            padding: 24px;
            .button_login {
                display: flex;
                height: 48px;
                padding: 0px 24px;
                justify-content: center;
                align-items: center;
                gap: 12px;
                align-self: stretch;
                border-radius: 20px;
                border: 1px solid $black-tertiary;
                background: $white;
                font-size: 16px;
                color: $black-secondary;
                font-weight: 600;
                line-height: 20px;
                width: 100%;
                a span {
                    color: $green-primary;
                    cursor: pointer;
                }
            }
        }
    }
    @media screen and (max-width: $mobile_bp) {
        .form {
            .upperBox {
                padding: 16px 16px 0;
                > p {
                    margin-bottom: 24px;
                }
            }
            .lowerBox {
                padding: 16px;
                gap: 16px;
            }
        }
    }
}
