@import "constants/constants.scss";

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 422px;
    width: calc(100vw - 32px);
    background-color: $white;
    margin-top: 50px;
    border-radius: 24px;
    border: 1px solid $black-tertiary;
    .upperBox {
        width: 100%;
        padding: 22px 22px 0 22px;
        .imageBox {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 24px;
            :first-child {
                cursor: pointer;
            }
            :last-child {
                visibility: hidden;
            }
        }
    }
    .line {
        width: 100%;
        border-top: 1px solid $black-tertiary;
        margin-top: 26px;
    }
    .lowerBox {
        width: 100%;
        padding: 0 22px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 24px;
    }
    @media screen and (max-width: $mobile_bp) {
        .upperBox {
            padding: 16px 16px 0 16px;
            .imageBox {
                .avatar {
                    width: 80px;
                    height: auto;
                }
            }
        }
        .line {
            margin-top: 8px;
        }
        .lowerBox {
            text-align: center;
            padding: 0 16px;
            gap: 16px;
            margin-top: 16px;
        }
    }
}
