@import "constants/constants.scss";

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.64);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    z-index: 5;
    .logout_menu {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 422px;
        width: calc(100% - 32px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        background-color: $white;
        border-radius: 24px;
        z-index: 10;
        .logout_avatar {
            margin-top: 24px;
        }
        p {
            margin: 0;
        }
        :nth-child(3) {
            margin-top: -8px;
        }
        .logout_buttons {
            display: flex;
            justify-content: center;
            gap: 24px;
            padding: 0 24px 24px;
            width: 100%;
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 48px;
                padding: 0px 24px;
                border-radius: 20px;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                box-shadow: 0px 8px 24px -4px rgba(0, 0, 0, 0.08);
                cursor: pointer;
            }
            :nth-child(1) {
                border: 1px solid $black-tertiary;
                background: $white;
                color: $black-primary;
                transition: all 0.3s ease-out;
                &:hover {
                    background-color: $black-quaternary;
                    transition: all 0.3s ease-out;
                }
            }
            :nth-child(2) {
                background: $red-primary;
                color: $white;
                transition: all 0.3s ease-out;
                &:hover {
                    background-color: $red-secondary;
                    transition: all 0.3s ease-out;
                }
            }
        }
        @media screen and (max-width: $mobile_bp) {
            gap: 16px;
            .logout_avatar {
                margin-top: 16px;
                width: 80px;
                height: auto;
            }
            .logout_buttons {
                gap: 16px;
                padding: 0 16px 16px;
            }
        }
    }
}
