@import "constants/constants.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 422px;
    background-color: $white;
    margin-top: 118px;
    border-radius: 24px;
    border: 1px solid $black-tertiary;
    .upperBox {
        width: 100%;
        padding: 22px 24px 0;
        .avatar {
            display: block;
            margin: 24px auto;
        }
    }
    .lowerBox {
        width: 100%;
        padding: 24px;
        a button {
            display: flex;
            justify-content: center;
            align-items: center;            
        }
    }
    @media screen and (max-width: $mobile_bp) {
        width: calc(100vw - 32px);
        .upperBox {
            padding: 16px 16px 0;
            .avatar {
                margin: 0 auto 16px;
                width: 80px;
                height: auto;
            }
        }
        .lowerBox {
            padding: 16px;
        }
    }
}
