@import "constants/constants.scss";

.title_container {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    border-bottom: 1px solid $black-tertiary;
    background: $black-quaternary;
    border-top-right-radius: 24px;
    .title_box {
        display: flex;
        gap: 16px;
        align-items: center;
        .profile_title {
            color: $black-primary;
            font-size: 32px;
            font-weight: 600;
            line-height: 40px;
            text-align: center;
        }
        .review_amount {
            display: flex;
            width: 36px;
            height: 36px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 48px;
            border: 2px solid $white;
            background: $black-tertiary;
            font-size: 16px;
            color: $black-primary;
            font-weight: 600;
            line-height: 20px;
        }
    }
    @media screen and (max-width: $tablet_bp) {
        border-top-left-radius: 24px;
        flex-direction: column;
        padding: 16px 16px 8px;
        gap: 8px;
    }
    @media screen and (max-width: $mobile_bp) {
        .title_box {
            .profile_title {
                font-size: 24px;
                font-weight: 500;
                line-height: 28px;
            }
        }
    }
}
