@import "constants/constants.scss";

.wrapper {
    max-width: 1056px;
    width: 100vw;
    background-color: $white;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}
