@import "constants/constants.scss";

.container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    width: 100%;
    min-height: 808px;
    button {
        width: 250px;
    }
}